.inner-space {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.section-title {
	font-family: $font-title;
	color: darken($dark-gray,6);
}
.button {
	font-family: $font-text;
	text-transform: uppercase;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.27);
	border-radius: 2px;
	line-height: 1.7rem;
	i {
		display: block;
		font-size: 3rem;
		margin-bottom: .3rem;
	}
	&.primary {
		border: 1px solid darken($primary-color, 10);
	}
	@include breakpoint(small only) {
		width: 100%;
		font-size: 1rem !important;
		i {
			font-size: 2rem;
		}
	}
}
.std-text {
	padding-right: 1.5rem;
	margin-right: 1rem;
	border-right: 1px solid $light-gray;
	color: darken($dark-gray, 20);
	img {
		border: 5px solid $light-gray;
	}
	p {
		margin: 1.5rem 0;
		&:first-child {
			margin-top: 0;
		}
	}
	@include breakpoint(small only) {
		padding-right: 0;
		border: none;
	}
}