<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totem Parque nacional</title>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="css/dependencies.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body onload="updateTime()">
    <header class="main-header hide-for-small-only">
        <div class="row align-middle">
            <div class="large-3 columns">
                <div class="site-logo">
                    <img src="img/logo.png" class="logo-img" alt="">
                    <span class="nombre-parque">Parque Nacional Conguillío</span>
                </div>
            </div>
            <div class="large-9 columns">
                <nav class="main-navigation">
                    <ul class="menu">
                        <li class="is-active"><a href="/">Inicio</a></li>
                        <li><a href="/chat">Contactar Guardaparque</a></li>
                        <li><a href="#">Información del parque</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="show-for-small-only mobile-nav primary">
        <div class="row">
            <div class="small-3 columns">
              <a href="/">
                <div class="mobile-logo"></div>
              </a>
            </div>
            <div class="small-offset-6 small-2 columns">
                <a href="#" class="mobile-nav-open"><i class="ion-navicon-round"></i></a>
            </div>
        </div>
    </div>
    <div class="menu-mobile-container hide">
        <a class="close" href="#"><i class="ion-close"></i></span></a>
        <nav class="main-navigation">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/chat">Contactar Guardaparque</a></li>
                <li><a href="#">Información del parque</a></li>
            </ul>
        </nav>
    </div>

    <section class="main-content">
        <div class="row collapse">
            <div class="large-12 columns welcome hide-for-small-only">
                <img src="img/portada-parque.jpg" class="portada-img" alt="">
                <div class="wrap pixelated">
                    <h1 class="site-title">Bienvenidos al parque Nacional Conguillío</h1>
                    <span id="fecha" class="current-date current-data"></span>
                    <span id="hora" class="current-time current-data"></span>
                </div>
            </div>
            <div class="large-12 columns welcome-mobile show-for-small-only">
                <h1 class="site-title">Bienvenidos al parque Nacional Conguillío</h1>
                <div class="current-meta clearfix">
                    <div class="float-left">
                        <span id="fecha" class="current-date current-data"></span>
                    </div>
                    <div class="float-right">
                        <span id="hora" class="current-time current-data"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row inner-space">
            <div class="large-12 columns">
                <div id="alertas">
                    <div class="alert">
                        <div class="alert-icon">
                            <i class="ion-alert-circled"></i>
                        </div>
                        <div class="alert-content">
                            <h3 class="alert-title">Alerta</h3>
                            <p id="alerta">Disfrute su recorrido.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row inner-space">
            <div class="large-9 small-12 columns">
                <div class="box gray weather-info">
                    <div class="row large-up-2 small-up-1">
                        <div class="column">
                            <div class="temperature weather-data">
                                <div class="icon">
                                    <i class="icon-termometro"></i>
                                </div>
                                <div class="data">
                                  <span class="data-title">Temperatura</span>
                                  <span class="data-value" id="temperatura">0.0</span>
                                  <span class="data-unit">&deg;C</span>
                                </div>
                            </div>
                            <div class="pressure weather-data">
                                <div class="icon">
                                    <i class="icon-presion"></i>
                                </div>
                                <div class="data">
                                    <span class="data-title">Presión</span>
                                    <span class="data-value" id="presion">0.0</span>
                                    <span class="data-unit">hPa</span>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="humidity weather-data">
                                <div class="icon">
                                    <i class="icon-humedad"></i>
                                </div>
                                <div class="data">
                                    <span class="data-title">Humedad</span>
                                    <span class="data-value" id="humedad">0.0</span>
                                    <span class="data-unit">%</span>
                                </div>
                            </div>
                            <div class="radiation weather-data">
                                <div class="icon">
                                    <i class="icon-radiacion"></i>
                                </div>
                                <div class="data">
                                    <span class="data-title">Radiación UV</span>
                                    <span class="data-value" id="radiacion">0.0</span>
                                    <span class="data-unit">Indice UV</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-3 small-12 columns">
                <a href="/chat" class="button large primary">
                    <i class="ion-android-send"></i><br>
                    Contactar al guardaparque
                </a>
            </div>
        </div>
        <div class="row inner-space">
            <div class="large-12 columns">
                <h2 class="section-title">Información del parque</h2>
                <div class="content-list">
                    <div class="row large-up-4 small-up-2">
                        <div class="column">
                            <article class="entry-content">
                                <a href="informacion-general">
                                    <img src="img/foto1.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Información General</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                        <div class="column">
                            <article class="entry-content">
                                <a href="normas-del-parque">
                                    <img src="img/foto2.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Normas del parque</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                        <div class="column">
                            <article class="entry-content">
                                <a href="rutas">
                                    <img src="img/foto4.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Rutas</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                        <div class="column">
                            <article class="entry-content">
                                <a href="flora-fauna">
                                    <img src="img/foto3.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Flora y fauna</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="row inner-space">
            <div class="large-12 columns">
                <div class="text-center">
                    <p class="footer-title"><strong>Parque Nacional Conguillío</strong></p>
                    <p><em>Proyecto de información y alerta en parques nacionales de Chile</em> </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/dependencies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/time.js"></script>
  </body>
</html>
