<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totem Parque nacional - Rutas</title>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="css/dependencies.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body class="page">
    <header class="main-header hide-for-small-only">
        <div class="row align-middle">
            <div class="large-3 columns">
                <div class="site-logo">
                    <img src="img/logo.png" class="logo-img" alt="">
                    <span class="nombre-parque">Parque Nacional Conguillío</span>
                </div>
            </div>
            <div class="large-9 columns">
                <nav class="main-navigation">
                    <ul class="menu">
                        <li class="is-active"><a href="/">Inicio</a></li>
                        <li><a href="/chat">Contactar Guardaparque</a></li>
                        <li><a href="#">Información del parque</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="show-for-small-only mobile-nav primary">
        <div class="row">
            <div class="small-3 columns">
              <a href="/">
                <div class="mobile-logo"></div>
              </a>
            </div>
            <div class="small-offset-6 small-2 columns">
                <a href="#" class="mobile-nav-open"><i class="ion-navicon-round"></i></a>
            </div>
        </div>
    </div>
    <div class="menu-mobile-container hide">
        <a class="close" href="#"><i class="ion-close"></i></span></a>
        <nav class="main-navigation">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/chat">Contactar Guardaparque</a></li>
                <li><a href="#">Información del parque</a></li>
            </ul>
        </nav>
    </div>

    <section class="main-content">
        <div class="row collapse">
            <div class="large-12 columns welcome">
                <h1 class="site-title">Rutas</h1>
                <div class="current-meta clearfix">
                    <span class="current-date float-left current-data">Viernes 08 de agosto, 2017</span>
                    <span class="current-time float-right current-data">9:55 hrs</span>
                </div>
            </div>
        </div>
        <div class="row inner-space">
            <div class="large-12 columns">
                <div id="alertas">
                    <div class="alert">
                        <div class="alert-icon">
                            <i class="ion-alert-circled"></i>
                        </div>
                        <div class="alert-content">
                            <h3 class="alert-title">Alerta</h3>
                            <p id="alerta">Disfrute su recorrido.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row inner-space">
            <div class="large-9 small-12 columns">
                <div class="std-text">
                    <img src="img/foto-seccion3.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p>
<p>Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia.</p>
<p>Cras et dui mollis, tempus velit placerat, sodales tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque et venenatis sapien. Maecenas sem diam, lacinia in ipsum et, fermentum rutrum lacus.</p>
<p>Nulla facilisis, arcu ac facilisis tincidunt, tortor est congue ligula, eu adipiscing quam ligula ut purus. Suspendisse at gravida dolor. Vestibulum eget odio in massa luctus imperdiet. Donec consequat orci a diam pellentesque mollis.</p>
<p>Nulla nec varius dui. Aliquam erat volutpat. Nunc at viverra nisi, id lobortis quam. Aenean hendrerit fermentum nibh nec lobortis.</p>
<p>Ut sit amet magna orci. Integer sit amet varius ipsum. Ut mattis ullamcorper fermentum. Integer pretium felis sit amet urna volutpat, ac elementum ante interdum.</p>
<p>Nam auctor eget quam vitae fringilla. Vestibulum quam orci, porttitor in nisl aliquam, placerat gravida ligula. Quisque sed malesuada velit. Proin vulputate velit sed cursus feugiat.</p>
<p>Mauris scelerisque nulla ut mauris iaculis, a euismod nulla eleifend. Maecenas consequat interdum nibh, at tincidunt justo commodo eget. Pellentesque ut pharetra tellus, eu pulvinar ligula. Duis ac nisl rhoncus, ultrices eros sed, consequat orci.</p>
<p>Maecenas volutpat lacus vitae arcu semper, a bibendum urna viverra. Suspendisse congue dolor nec commodo volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus commodo vulputate elementum. Nam sed urna non tellus vulputate molestie sit amet at sapien.</p>
<p>Vivamus massa odio, dignissim ac ante at, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. Fusce semper odio et gravida interdum.</p>
<p>Suspendisse quis lacus nulla. Nullam et nibh ligula. Nunc vitae nulla et arcu mollis iaculis. Vestibulum venenatis risus ut ligula lacinia malesuada.</p>
<p>Pellentesque pulvinar ligula vitae tellus ornare, vitae suscipit est pretium. Sed vitae tincidunt mauris. Maecenas posuere, augue vitae bibendum commodo, ante mi laoreet nibh, a pulvinar massa metus eget arcu. Phasellus fermentum purus ac diam sodales dignissim.</p>
                </div>
            </div>
            <div class="large-3 small-12 columns">
                <aside class="sidebar">
                    <a href="/chat" class="button large primary">
                        <i class="ion-android-send"></i><br>
                        Contactar al guardaparque
                    </a>
                </aside>
            </div>
        </div>
        <div class="row inner-space">
            <div class="large-12 columns">
                <h2 class="section-title">Relacionado</h2>
                <div class="content-list">
                    <div class="row large-up-4 small-up-2">
                        <div class="column">
                            <article class="entry-content">
                                <a href="informacion-general">
                                    <img src="img/foto1.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Información General</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                        <div class="column">
                            <article class="entry-content">
                                <a href="normas-del-parque">
                                    <img src="img/foto2.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Normas del parque</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                        <div class="column">
                            <article class="entry-content">
                                <a href="flora-fauna">
                                    <img src="img/foto3.jpg" alt="">
                                    <span class="entry-wrap">
                                        <h3 class="entry-title">Flora y fauna</h3>
                                    </span>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="row inner-space">
            <div class="large-12 columns">
                <div class="text-center">
                    <p class="footer-title"><strong>Parque Nacional Conguillío</strong></p>
                    <p><em>Proyecto de información y alerta en parques nacionales de Chile</em> </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/dependencies.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
